<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179852798619-dklksasecnv6el0ms9qdjv1qjp8f813m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179852798619-dklksasecnv6el0ms9qdjv1qjp8f813m</string>
	<key>API_KEY</key>
	<string>AIzaSyBe3ZG8AflbjjQU1p5A8BaQTazQqEPvcls</string>
	<key>GCM_SENDER_ID</key>
	<string>179852798619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goodNeighbors</string>
	<key>PROJECT_ID</key>
	<string>goodneighbors-265522</string>
	<key>STORAGE_BUCKET</key>
	<string>goodneighbors-265522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179852798619:ios:2129cdf4fd5ef35510343e</string>
	<key>DATABASE_URL</key>
	<string>https://goodneighbors-265522.firebaseio.com</string>
</dict>
</plist>